/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./styles/tags.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
.tag{
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px 12px 3px 12px;
    border-radius: 3px;
}

.tagContainer{
    display: flex;
    justify-content: flex-end;
}
.child{
    display: flex;
    justify-content: center;
}
