/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./styles/blogpost.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
main.notion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notion-block{
    display: flex;
    justify-content: center;
    
}

a.notion-link{
    color: black !important;
}
figure > div{
    padding-bottom: 10px !important;
}
/* @media screen and (min-width: 768px) and (max-width: 1920px) {
    img {
      max-height: 80%;
      width: auto;
    }
  } */

img{
    max-width: 45vw;
    height: auto;
    margin: auto;
}

.notion-asset-wrapper{
    width: unset !important;
}

