ul,li{
    margin: 0;
    padding: 0;
}

.mainNav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 5rem;
    align-items: center;
    background-color: #121212;
}
.right{
    justify-self: center;
    
}
.left{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
}
a{
    color: white !important;
    text-decoration: none;
    font-size: 1.5pc;
    /* background: var(--gradient-4) fixed;
    background-size: 12ch 7ch;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-sans); */
    color: white;
}
:where(a[href]):visited{
    color: white;
}
ul{
    display: flex;
    gap: 50px;
}
nav{
    display: flex;

}