body{
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
}

footer{
    height: 2rem;
    background-color: #121212;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 3rem;
    position: absolute;
    bottom: 0;
}

.iconGrid{
    display: grid;
    place-content: center;
}